In [20]:
# week 3 notes
# but we worked through the week 2 informations

In [21]:
# this is the way to build a path to your datafiles

In [38]:
from pathlib import Path

In [39]:
p = Path()

In [40]:
#this file is in week 2

In [41]:
p2 = p / "02"

In [42]:
datafile = p2 / "winequality-red.csv"

In [43]:
datafile.absolute()

PosixPath('/Users/yaklichel/yaklich_ML/spring2020/02/winequality-red.csv')

In [44]:
# working with pandas today

In [45]:
import pandas as pd

In [46]:
pd.read_csv(datafile).head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [ ]:
# datasets can be imported from sklearn if they are already pre-loaded into there

In [15]:
from sklearn import datasets

In [16]:
wine = datasets.load_wine()

In [18]:
df = pd.DataFrame(data=wine.data, columns=wine.feature_names)

In [22]:
len(df)

178

In [ ]:
# next went through week 2 ipynb